<div class="container">
  <h2>To do</h2>

  <app-product-creator [products]="products" (productAdded)="addProduct($event)"></app-product-creator>

  <section class="main" *ngIf="products.length > 0">


    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <app-product *ngFor="let product of products" cdkDrag [product]="product"
                   (clickedEvent)="reSortProduct($event)"
                    (removedEvent)="deleteProduct($product)"></app-product>
    </div>

  </section>
</div>
